# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
.pnp/
.pnp.js

# Build outputs
dist/
dist-ssr/
*.local

# Tauri
src-tauri/target/

# Editor directories
.idea/
.vscode/*
!.vscode/extensions.json

# TypeScript
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db
